body{
    background-color: navy;
    color: whitesmoke;
}

header{
    border: solid gray;
    border-radius: 10px;
    text-align: center;
}

main{
    text-align: center;
}

button{
    padding: 10px;
}

button:hover{
    background-color: indianred;
    color: white;
    border-radius: 7px;
}